<div class="row">
	<div class="col-sm-6"><input type="number" id="add-trx-amount" class="basic-input form-control" placeholder="Amount" pattern="\d*" /></div>
	<div class="col-sm-6">
		<select id="add-trx-currency" class="basic-input form-control">
			<option>Colones</option>
			<option>Dólares</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<select id="add-trx-type" class="basic-input form-control">
			<option>Varios</option>
			<option>Restaurantes</option>
		</select>
	</div>
	<div class="col-sm-6"><input type="text" id="add-trx-description" class="basic-input form-control" placeholder="Description" /></div>
</div>
<div class="row">
	<div class="col-sm-6">
		<input type="datetime-local" id="add-trx-date" name="date" class="basic-input form-control" />
	</div>
	<div class="col-sm-6">
		<div class="basic-input form-control" id="add-trx-is-pending-div">
			<input type="checkbox" id="add-trx-is-pending" name="isPending" class="checkbox-inline" style="margin: 0"/><span>Pending</span>
		</div>
	</div>
</div>