<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsIndicadoresEconomicosSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsIndicadoresEconomicosSoap"
        contract="BancoCentralServiceReference.wsIndicadoresEconomicosSoap"
        name="wsIndicadoresEconomicosSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="SqlServerLocalConnection" connectionString="Server=localhost;Database=MYFNDB;User Id=FinanceAppUser; Password=FinanceAppUser;"/>-->
    <!--<add name="SqlServerLocalConnection" connectionString="Server=WIN-21V2M6BF1Q5;Database=MYFNDB_DEV;User Id=FinanceAppUserDev; Password=FinanceAppUserDev;"/>-->
    <add name="ExchangeCurrencyServiceDev" connectionString="Server=190.113.105.138;Database=EXCHCRRN_DEV;User Id=ExchCrrnAppUserDev; Password=ExchCrrnAppUserDev;" />
    <!--<add name="ExchangeCurrencyServiceDev" connectionString="Server=190.113.105.138;Database=EXCHCRRN_TEST;User Id=ExchCrrnAppUserTest; Password=ExchCrrnAppUserTest;" />-->
  </connectionStrings>
</configuration>