<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ebc21e19-be0b-44f4-87e4-5b4aafa9a724/resourceGroups/MyFinance/providers/Microsoft.Web/sites/MyFinanceCurrencyExchange</ResourceId>
    <ResourceGroup>MyFinance</ResourceGroup>
    <ApiResourceId>/subscriptions/ebc21e19-be0b-44f4-87e4-5b4aafa9a724/resourceGroups/MyFinance/providers/Microsoft.ApiManagement/service/CurrencyServiceCoreApi/apis/CurrencyServiceCore</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>ProdAzure</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfinancecurrencyexchange.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>735f5715-7932-47ac-8210-ccb56b6d51a0</ProjectGuid>
    <MSDeployServiceURL>myfinancecurrencyexchange.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyFinanceCurrencyExchange</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MyFinanceCurrencyExchange</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>