<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <!--<add key="DollarColonesUrl" value="http://localhost/BccrVentanilla/09agosto2016/Tipo%20de%20cambio%20anunciado%20en%20ventanilla.html"/>-->
    <add key="DollarColonesUrl" value="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/cuadros/frmconsultatcventanilla.aspx"/>
    <add key="DollarColonesBank" value="Banco Bac"/>
    <add key="DollarColonesMinValue" value="400"/>
    <add key="DollarColonesMaxValue" value="700"/>
    <add key="ExchangeMinDate" value="01/01/2016 12:00 am."/>
    <add key="ExchangeMaxDate" value="01/01/2017 12:00 am."/>
    <add key="SiteFormatDate" value="dd/MM/yyyy hh:mm tt."/>
    <add key="UpdateTime" value="30000"/>
    <add key="UserThreadConfig" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SqlServerLocalConnection" connectionString="Server=localhost;Database=MYFNDB;User Id=FinanceAppUser; Password=FinanceAppUser;"/>-->
    <!--<add name="SqlServerLocalConnection" connectionString="Server=WIN-21V2M6BF1Q5;Database=MYFNDB_DEV;User Id=FinanceAppUserDev; Password=FinanceAppUserDev;"/>-->
    <!--<add name="ExchangeCurrencyServiceDev" connectionString="Server=190.113.105.138;Database=EXCHCRRN_DEV;User Id=ExchCrrnAppUserDev; Password=ExchCrrnAppUserDev;"/>-->
    <add name="ExchangeCurrencyServiceDev" connectionString="Server=190.113.105.138;Database=EXCHCRRN_TEST;User Id=ExchCrrnAppUserTest; Password=ExchCrrnAppUserTest;"/>
  </connectionStrings>

</configuration>