.ulForm {
    background: beige;
}

    .ulForm li {
        margin: 20px;
    }

    .ulForm label {
        margin: 5px;
    }

#submitSpend {
    text-align: center;
}

.action-label {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#detailsDiv {
    margin-top: 30px;
}

.delete-action-text {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.edit-action-text {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}